<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu Items</title>
</head>
<body>

<h2>Menu Items</h2>

<br>

<a th:href="@{/admin/menu/create/{restaurantId}(restaurantId=${restaurantId})}">
    Add Menu Item
</a>

<br><br>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Available</th>
        <th>Action</th>
    </tr>

    <tr th:each="menu : ${menuItems}">

        <td th:text="${menu.id}"></td>

        <td th:text="${menu.name}"></td>

        <td th:text="${menu.description}"></td>

        <td th:text="${menu.price}"></td>

        <td th:text="${menu.available}"></td>

        <td>
            <a th:href="@{/admin/menu/delete/{id}/{restaurantId}(id=${menu.id},restaurantId=${restaurantId})}">
                Delete
            </a>
        </td>

    </tr>

</table>

<br><br>

<a th:href="@{/admin/restaurants}">
    ← Back to Restaurants
</a>

</body>
</html>