<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Delivery Partners</title>
</head>

<body>

<h2>Delivery Partners</h2>

<br>

<a th:href="@{/admin/delivery-partners/create}">
    Add Delivery Partner
</a>

<br><br>

<table border="1">

    <tr>

        <th>ID</th>

        <th>Name</th>

        <th>Email</th>

        <th>Phone</th>

        <th>Vehicle</th>

        <th>Available</th>

        <th>Action</th>

    </tr>

    <tr th:each="partner : ${deliveryPartners}">

        <td th:text="${partner.id}"></td>

        <td th:text="${partner.fullName}"></td>

        <td th:text="${partner.email}"></td>

        <td th:text="${partner.phoneNumber}"></td>

        <td th:text="${partner.vehicleNumber}"></td>

        <td th:text="${partner.available}"></td>

        <td>

            <a th:href="@{/admin/delivery-partners/{id}(id=${partner.id})}">
                View
            </a>

            |

            <a th:href="@{/admin/delivery-partners/delete/{id}(id=${partner.id})}">
                Delete
            </a>

        </td>

    </tr>

</table>

<br>

<a th:href="@{/admin/dashboard}">
    ← Back
</a>

</body>
</html>