<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My Cart</title>
</head>

<body>

<h2>My Cart</h2>

<table border="1">

    <tr>
        <th>Food</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Action</th>
    </tr>

    <tr th:each="cart : ${cartItems}">

        <td th:text="${cart.menuItem.name}"></td>

        <td th:text="${cart.menuItem.price}"></td>

        <td>

            <a th:href="@{/user/cart/decrease/{id}(id=${cart.id})}">
                -
            </a>

            <span th:text="${cart.quantity}"></span>

            <a th:href="@{/user/cart/increase/{id}(id=${cart.id})}">
                +
            </a>

        </td>

        <td th:text="${cart.menuItem.price * cart.quantity}"></td>

        <td>

            <a th:href="@{/user/cart/remove/{id}(id=${cart.id})}">
                Remove
            </a>

        </td>
    </tr>

</table>

<br><br>

<a th:href="@{/user/restaurants}">
    ← Continue Shopping
</a>

<br><br>

<a th:href="@{/user/cart/clear}">
    Clear Cart
</a>

<br><br>

<form th:action="@{/orders/place}" method="post">
    <button type="submit">
        Place Order
    </button>
</form>

</body>

</html>